# Preparacion de los datos para crear los mapas + DF VINCULADO

In [9]:
# Asegurarse de que todos los valores en 'Lugar_de_inicio' son cadenas
estacionados_cliente['Lugar_de_inicio'] = estacionados_cliente['Lugar_de_inicio'].astype(str)

# Separar la columna en dos nuevas columnas, manejando posibles errores
def split_coords(lugar):
    try:
        lat, lon = lugar.split(',')
        return lat, lon
    except ValueError:
        return None, None

# Crear nuevas columnas 'latitud' y 'longitud' usando .loc para evitar el SettingWithCopyWarning
estacionados_cliente[['latitud', 'longitud']] = estacionados_cliente['Lugar_de_inicio'].apply(lambda x: pd.Series(split_coords(x)))

In [10]:
# Convertir las coordenadas de 'latitud' y 'longitud' a flotantes
def convert_coord(coord):
    if 'S' in coord or 'W' in coord:
        return -float(coord[:-1])
    elif 'N' in coord or 'E' in coord:
        return float(coord[:-1])
    else:
        return None

estacionados_cliente['latitud'] = estacionados_cliente['latitud'].apply(convert_coord)
estacionados_cliente['longitud'] = estacionados_cliente['longitud'].apply(convert_coord)

# Mostrar el DataFrame después de la conversión
estacionados_cliente.sample(3)

,Indice,Numero_de_placa,Estado_de_viaje,Tiempo_de_Inicio,Tiempo_Final,Duracion,Lugar_de_inicio,latitud,longitud
1423,150,Berlingo 7008,Estacionamiento,2024-07-24 10:24:29,2024-07-24 10:32:41,8Minutos12s,"34.491144S,55.559819W",-34.491144,-55.559819
4001,1142,CAA 1076,Estacionamiento,2024-07-27 10:21:44,2024-07-27 11:06:41,44Minutos57s,"34.489547S,55.567727W",-34.489547,-55.567727
3853,994,CAA 1076,Estacionamiento,2024-07-24 13:02:30,2024-07-24 13:10:30,8Minutos,"34.765657S,55.584025W",-34.765657,-55.584025

In [11]:
# Cambiar la columna latitud por camion_x y longitud por camion_y
estacionados_camion = estacionados_cliente.rename(columns={'latitud': 'camion_x', 'longitud': 'camion_y'})

In [12]:
estacionados_camion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2086 entries, 1 to 4195
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Indice            2086 non-null   object
 1   Numero_de_placa   2086 non-null   object
 2   Estado_de_viaje   2086 non-null   object
 3   Tiempo_de_Inicio  2086 non-null   datetime64[ns]
 4   Tiempo_Final      2086 non-null   datetime64[ns]
 5   Duracion          2086 non-null   object
 6   Lugar_de_inicio   2086 non-null   object
 7   camion_x          2086 non-null   float64
 8   camion_y          2086 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 163.0+ KB

In [13]:
estacionados_camion.sample(10)

,Indice,Numero_de_placa,Estado_de_viaje,Tiempo_de_Inicio,Tiempo_Final,Duracion,Lugar_de_inicio,camion_x,camion_y
511,512,AAW 4251,Estacionamiento,2024-07-11 17:25:23,2024-07-11 18:01:15,35Minutos52s,"34.766370S,55.736037W",-34.766370,-55.736037
3343,484,CAA 1076,Estacionamiento,2024-07-12 09:51:14,2024-07-12 10:01:31,10Minutos17s,"34.768725S,55.591520W",-34.768725,-55.591520
1643,370,Berlingo 7008,Estacionamiento,2024-07-30 08:43:18,2024-07-30 09:31:32,48Minutos14s,"34.766564S,55.720425W",-34.766564,-55.720425
1333,60,Berlingo 7008,Estacionamiento,2024-07-22 09:28:22,2024-07-22 09:56:16,27Minutos54s,"34.766079S,55.584379W",-34.766079,-55.584379
3313,454,CAA 1076,Estacionamiento,2024-07-11 12:47:52,2024-07-11 12:51:10,3Minutos18s,"34.754244S,55.675745W",-34.754244,-55.675745
1593,320,Berlingo 7008,Estacionamiento,2024-07-28 17:41:06,2024-07-28 17:49:07,8Minutos1s,"34.772252S,55.742357W",-34.772252,-55.742357
247,248,AAW 4251,Estacionamiento,2024-07-05 11:04:51,2024-07-05 11:11:16,6Minutos25s,"34.748537S,55.762645W",-34.748537,-55.762645
713,714,AAW 4251,Estacionamiento,2024-07-16 17:28:47,2024-07-16 17:32:44,3Minutos57s,"34.769084S,55.760707W",-34.769084,-55.760707
1675,402,Berlingo 7008,Estacionamiento,2024-07-30 19:16:59,2024-07-30 20:38:49,1h21Minutos50s,"34.768733S,55.769899W",-34.768733,-55.769899
113,114,AAW 4251,Estacionamiento,2024-07-02 15:48:52,2024-07-02 16:22:21,33Minutos29s,"34.771124S,55.758077W",-34.771124,-55.758077

In [14]:
estacionados_camion.to_excel("estacionados_camion.xlsx", index=False)

### Ubicaciones_direcciones

In [15]:
df_cliente = pd.read_excel("./Ubicaciones_direcciones.xlsx", engine="openpyxl")
df_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     616 non-null    int64
 1   CODIGO2    615 non-null    object
 2   UBICACIÓN  603 non-null    object
 3   LATITUD    603 non-null    float64
 4   LONGITUD   603 non-null    object
 5   FECHA      605 non-null    object
 6   ORIGEN     616 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 33.8+ KB

In [16]:
# Cambiamos el nombre de CODIGO2 a NOMCLI
df_cliente = df_cliente.rename(columns={'CODIGO2': 'NOMCLI'})

In [17]:
df_cliente.sample(3)

,CODIGO,NOMCLI,UBICACIÓN,LATITUD,LONGITUD,FECHA,ORIGEN
278,23255,EL CUENTITO,"http://maps.google.com/?q=-34.77100134126828,-...",-34.771001,-55.588225,27-04-2024,2
567,82117,ALMACEN EL SALVADOR,"http://maps.google.com/?q=-34.77052901427759,-...",-34.770529,-55.827926,27-04-2024,2
122,12933,ALEXANDRA ECHEVARNE,"http://maps.google.com/?q=-34.77953966576119,-...",-34.779540,-55.84358,27-04-2024,2

In [18]:
# Eliminar duplicados
df_cliente = df_cliente.drop_duplicates(subset=['NOMCLI'])
df_cliente.reset_index(drop=True, inplace=True)

In [19]:
df_cliente.sample(3)

,CODIGO,NOMCLI,UBICACIÓN,LATITUD,LONGITUD,FECHA,ORIGEN
87,12475,ALMACEN AGUSTINA,"http://maps.google.com/?q=-34.76968983539941,-...",-34.769690,-55.865103,27-04-2024,2
275,23225,PARADA 8,"http://maps.google.com/?q=-34.77110654726195,-...",-34.771107,-55.588285,27-04-2024,2
125,12937,EL ARTESANO,"http://maps.google.com/?q=-34.77276751730933,-...",-34.772768,-55.849665,27-04-2024,2

In [20]:
# Dejamos solo las columnas de interes CODIGO, NOMCLI, LATITUD, LONGITUD, FECHA.
ubi_cliente = df_cliente[['CODIGO', 'NOMCLI', 'LATITUD', 'LONGITUD']]
ubi_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    602 non-null    int64
 1   NOMCLI    601 non-null    object
 2   LATITUD   589 non-null    float64
 3   LONGITUD  589 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 18.9+ KB

In [21]:
ubi_cliente.to_excel("ubi_cliente.xlsx", index="FALSE")

### Mapeamos

### GENERO LA TABLA

Tabla que vincule las ubicaciones de ambos conjuntos de datos (ubi_cliente y estacionados_camion) por cercanía usando NearestNeighbors, pasos:

In [22]:
# Filtrar datos con latitud válida
ubi_cliente_clean = ubi_cliente_clean[(ubi_cliente_clean['LATITUD'] >= -90) & (ubi_cliente_clean['LATITUD'] <= 90)]
estacionados_camion_clean = estacionados_camion_clean[(estacionados_camion_clean['camion_x'] >= -90) & (estacionados_camion_clean['camion_x'] <= 90)]

# Obtener las coordenadas en un formato 2D adecuado para sklearn
ubi_cliente_coords = ubi_cliente_clean[['LATITUD', 'LONGITUD']].to_numpy()
camion_coords = estacionados_camion_clean[['camion_x', 'camion_y']].to_numpy()

# Verificar que las coordenadas estén en formato 2D
if ubi_cliente_coords.ndim == 1:
    ubi_cliente_coords = ubi_cliente_coords.reshape(1, -1)
if camion_coords.ndim == 1:
    camion_coords = camion_coords.reshape(1, -1)

# Crear el modelo de vecinos más cercanos
nbrs = NearestNeighbors(n_neighbors=1, algorithm='ball_tree').fit(camion_coords)
distances, indices = nbrs.kneighbors(ubi_cliente_coords)

# Crear el DataFrame vinculado
vinculado_data = []

# Iterar sobre las ubicaciones más cercanas y recopilar la información
for i, index in enumerate(indices):
    ubi_cliente_info = ubi_cliente_clean.iloc[i]
    camion_info = estacionados_camion_clean.iloc[index[0]]
    
    # Coordenadas del cliente y el camión
    cliente_coords = (ubi_cliente_info['LATITUD'], ubi_cliente_info['LONGITUD'])
    camion_coords = (camion_info['camion_x'], camion_info['camion_y'])
    
    # Calcular la distancia haversine en metros
    distancia_metros = geodesic(cliente_coords, camion_coords).meters
    
    vinculado_data.append({
        'CODIGO': ubi_cliente_info['CODIGO'],
        'NOMCLI': ubi_cliente_info['NOMCLI'],
        'LATITUD': ubi_cliente_info['LATITUD'],
        'LONGITUD': ubi_cliente_info['LONGITUD'],
        'Numero_de_placa': camion_info['Numero_de_placa'],
        'Estado_de_viaje': camion_info['Estado_de_viaje'],
        'Tiempo_de_Inicio': camion_info['Tiempo_de_Inicio'],
        'camion_x': camion_info['camion_x'],
        'camion_y': camion_info['camion_y'],
        'Duracion': camion_info['Duracion'],
        'Distancia (grados)': distances[i][0],  # Distancia en grados (como en el código original)
        'Distancia (metros)': distancia_metros  # Nueva columna con la distancia en metros
    })

# Crear un DataFrame con la información vinculada
df_vinculado = pd.DataFrame(vinculado_data)

# Guardar el DataFrame en un archivo Excel
output_file = 'vinculado_datasets_con_distancia_metros.xlsx'
df_vinculado.to_excel(output_file, index=False)

print(f"Archivo Excel guardado como {output_file}")

NameError: name 'ubi_cliente_clean' is not defined

## Continua Bauti:

In [ ]:
df_vinculado.head(1)

NameError: name 'df_vinculado' is not defined

Convertimos Tiempo_de_Inicio en columnas con valores de Año, Mes, Dia, Hora(completa)

In [ ]:
# Tiempo_de_Inicio separamos por columna de año mes y dia
df_vinculado['Año'] = df_vinculado['Tiempo_de_Inicio'].dt.year
df_vinculado['Mes'] = df_vinculado['Tiempo_de_Inicio'].dt.month
df_vinculado['Dia'] = df_vinculado['Tiempo_de_Inicio'].dt.day
df_vinculado['Hora'] = df_vinculado['Tiempo_de_Inicio'].dt.strftime('%H:%M:%S')

df_vinculado.head()

,CODIGO,NOMCLI,LATITUD,LONGITUD,Numero_de_placa,Estado_de_viaje,Tiempo_de_Inicio,camion_x,camion_y,Duracion,Distancia (grados),Distancia (metros),Año,Mes,Dia,Hora
0,11100,"11100,GABRIELA,LA ESPERANZA",-34.748500,-55.724540,AAW 4251,Estacionamiento,2024-07-01 13:14:05,-34.755380,-55.727214,7Minutos1s,0.007381,801.549335,2024,7,1,13:14:05
1,11120,"11120,LIBER CASTRO,EL CASTILLO",-34.750380,-55.725760,AAW 4251,Estacionamiento,2024-07-01 13:14:05,-34.755380,-55.727214,7Minutos1s,0.005207,570.433196,2024,7,1,13:14:05
2,11125,ALEJANDRA PIRIZ,-34.750041,-55.726749,AAW 4251,Estacionamiento,2024-07-01 13:14:05,-34.755380,-55.727214,7Minutos1s,0.005359,593.823113,2024,7,1,13:14:05
3,11130,"11130,CARLOS MARTINEZ",-34.745350,-55.715900,AAW 4251,Estacionamiento,2024-07-01 13:26:20,-34.746227,-55.713380,15Minutos36s,0.002668,250.426732,2024,7,1,13:26:20
4,11140,MILTON COSTA,-34.739224,-55.710692,AAW 4251,Estacionamiento,2024-07-01 13:46:52,-34.740220,-55.705977,8Minutos31s,0.004819,445.715467,2024,7,1,13:46:52

In [ ]:
# ¿Borramos la columna Tiempo_de_inicio? (AHORA LA ESTOY USANDO PARA EL MAPA)

#df_vinculado.drop(columns=['Tiempo_de_Inicio'], inplace=True)
#df_vinculado.head()

In [ ]:
df_vinculado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CODIGO              602 non-null    int64
 1   NOMCLI              601 non-null    object
 2   LATITUD             602 non-null    float64
 3   LONGITUD            602 non-null    float64
 4   Numero_de_placa     602 non-null    object
 5   Estado_de_viaje     602 non-null    object
 6   Tiempo_de_Inicio    602 non-null    datetime64[ns]
 7   camion_x            602 non-null    float64
 8   camion_y            602 non-null    float64
 9   Duracion            602 non-null    object
 10  Distancia (grados)  602 non-null    float64
 11  Distancia (metros)  602 non-null    float64
 12  Año                 602 non-null    int32
 13  Mes                 602 non-null    int32
 14  Dia                 602 non-null    int32
 15  Hora                602 non-null    object
dtypes: datetime64[ns](1), float64(6), int32(3), int64(1), object(5)
memory usage: 68.3+ KB